.wbrand {
    max-width: 100px;
}
@media (min-width: 768px) {
    .navbar-toggle {
        display: block;
    }
}

/* section I */

main>section {
    padding: 40px 0;
}

.sec-hero {
    background: url(img/bg-banner-home.jpg) bottom left;
}
.my-panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px; 
}
.p-relative {
    position: relative;
}
.img-google {
    width: 20px;
    position: absolute;
    top: 8px;
    left: 8px;
}
.my-btn-blue {
    border-color: #579aff;
    background-color: #579aff;
    color: white;
}
.bg-white {
    background-color: white;
} 
.my-btn {
    padding: 6px 12px;
    text-align: center;
}

/* sec- innovative businesses */
@media (max-width: 768px) {
    .img-loghi {
        width: calc(100% / 2 - 10px);
    }
}
@media (min-width: 768px) {
    .img-loghi {
        width: calc(100% / 6 - 10px);
    }
}
.bg-grey {
    background-color:#f3f5f9;
}
/* sezione slide */
.d-inline-b {
    display: inline-block;
}
.arrow {
    min-height: 190px;
    vertical-align: middle;
}
.img-slide {
    width: calc(100% - 20px);
    min-height: 190px;
 
}
.w-50 {
    max-width:50%;
}
.select-slides {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #006aff;
    display: inline-block;
}
.cer {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-color: blue;
    display: inline-block;
    background-color:;
}