.wbrand {
    max-width: 100px;
}
@media (min-width: 768px) {
    .navbar-toggle {
        display: block;
    }
}

/* section I */

main>section {
    padding: 40px 0;
}

.sec-hero {
    background: url(img/bg-banner-home.jpg) bottom left;
}
.my-panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
}
.p-relative {
    position: relative;
}
.img-google {
    width: 20px;
    position: absolute;
    top: 8px;
    left: 8px;
}
.my-btn-blue {
    border-color: #579aff;
    background-color: #579aff;
    color: white;
}
.bg-white {
    background-color: white;
}
.my-btn {
    padding: 6px 12px;
    text-align: center;
}

/* sec- innovative businesses */
@media (max-width: 768px) {
    .img-loghi {
        width: calc(100% / 2 - 10px);
    }
}
@media (min-width: 768px) {
    .img-loghi {
        width: calc(100% / 6 - 10px);
    }
}
.bg-grey {
    background-color:#f3f5f9;
}
/* sezione slide */
.v-align {
    vertical-align: middle;
}

.select-slide {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}
.cer-solid {
    background-color: #2285fd;
    border: 2px solid #2285fd;
  
}
.cer-empty {
    border: 2px solid #2285fd;
}
.width-fissa {
    /* ho sottratto 20px per 2 volte perchè equivale alla width della arrow di sinistra e di destra e sottratto 8px perchè il div inline-block lascia un piccolo spazio nella pagina */
    width: calc(100% - 20px - 20px - 8px);
}
.img-res {
    width: 100%;
}
.w-arr {
    width: 20px;
    font-size: 20px;
}

/* sezione table */
.bg-blue {
    background-color: #0039b6;
}
.color-white {
    color: white;
}
.text-item {
    width: 50%;
}
.l-item {
    width: 20%;
}
.border-item {
    border-bottom: 1px solid white;
}
.ut-item {
    text-align: right;
    width: 25%;
}

/* sezione carosel */
/* sezione rockerbox */

.marg-top {
    margin-top: 100px;
}
.cambio_display {
    display: inline-block;
}
.w-80perc {
    width: 80%;
    background-color: white;
    padding: 50px;
}
.img-rock {
    /* per renderla responsive */
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.mt-30 {
    margin-top: 30px;
}

/* section get started now */
.my_btn {
    
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    color: #2680ff;
    background-color: #fff;
    display: inline-block;
    font-weight: bolder;
    margin-top: 20px;
}
/* FOOTER */
.bg-darker {
    background-color: #031c4e;
}
.mt-30 {
    margin-top: 30px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-8 {
    margin-top: 5px;
}
ul.color-grey >li >a {
    color:#79859e;
}
.color-footer {
    color: #64718f;
}
.text-dark {
    color: #455578;
}

/* chat help */




.chat-help-fixed {
    position: fixed;    
    bottom: 30px;
    right: 0px;
    z-index: 1;
}
.padd-5 {
    padding: 5px;
}
.img-shark-wrapper {
    width: 60px;
    height: 60px;
    background-color: #006aff;
    border-radius: 6px;
}

.chat-widget {
    height: 100%;
    object-fit: contain;
    width: 100%;
}
.my_badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    border: 3px solid white;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #ff0102;
    border-radius: 10px;
    position: relative;
    bottom:65px;
    left: 48px;
}

@media (max-width:768px)  {
    .chat-help-fixed {
        position: fixed;    
        bottom: 30px;
        left: 50px;
       
    }
    .to_shift {
        position: absolute;
        top: 2px;
        right: 1px;
    
    }
    
}

@media (min-width:768px) and (max-width: 991px)  {
    .chat-help-fixed {
        position: fixed;    
        bottom: 30px;
        left: 50px;
       
    }
    
    
}



