.wbrand {
    max-width: 100px;
}
@media (min-width: 768px) {
    .navbar-toggle {
        display: block;
    }
}

/* section I */

main>section {
    padding: 40px 0;
}

.sec-hero {
    background: url(img/bg-banner-home.jpg) bottom left;
}
.my-panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px; 
}
.p-relative {
    position: relative;
}
.img-google {
    width: 20px;
    position: absolute;
    top: 8px;
    left: 8px;
}
.my-btn-blue {
    border-color: #579aff;
    background-color: #579aff;
    color: white;
}
.bg-white {
    background-color: white;
} 
.my-btn {
    padding: 6px 12px;
    text-align: center;
}

/* sec- innovative businesses */
.img-loghi {
    width: 100px;
}